
#server_ctl.panel{
	padding: 0px;
}
#server_ctl_btns .btn{
	margin: 3px;
}
#server_status{
	padding: 10px;
	height: 40px;
}
.status_msg{
	vertical-align: middle;
	font-size: 115%;
}
#server_status .glyphicon-remove{
	vertical-align: middle;
}

#server_status .label{
	padding-top: 3px;
}

#device-time{
	padding: 15px 0px 0px 5px;
}

.widget.panel{
	padding: 0px;
}

.widget{
	display: inline-block;
    margin: 10px;
    padding: 10px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


