{% extends "admin/master.html" %}

{% block body%}
<div id='server_ctl' class='panel 
			{% if server_status %}
				panel-success
			{% else %}
				panel-danger
			{% endif %}
'>
	<div class="panel-heading">
        <div class="panel-title">Server Status and Control</div>

        </div>
	<div class="panel-body">
		<div id='server_status' class='pull-left'>
			{% if server_status %}
				<span class="glyphicon glyphicon-ok"></span>
				<span class="status_msg">&nbsp;{{ server_status_msg }}</span>
				<a href="/job" id="sched_jobs" class="label label-success" data-toggle="tooltip" data-placement="right" Title="Jobs Scheduled">{{jobs_scheduled}}</a>
			{% else %}
				<span class="glyphicon glyphicon-remove"></span>
				<span class="status_msg">&nbsp;{{ server_status_msg }}</span>
				<a href="/job" id="sched_jobs" class="label label-warning" data-toggle="tooltip" data-placement="right" Title="Jobs Enabled">{{jobs_scheduled}}</a>
			{% endif %}		
		</div>
		<div id='server_ctl_btns'  class='pull-right'>
			{% if server_status %}
				<a class="btn btn-primary" href="/pause"><span class="glyphicon glyphicon-off"></span> Pause</a>
			{% else %}
				<a class="btn btn-primary" href="/resume"><span class="glyphicon glyphicon-play-circle"></span> Resume</a>
			{% endif %}	
		</div>
	</div>
</div>
<div id="widgets" class="container">
	{% for (name,widget,url) in widgets %}
	<div class="widget panel panel-default" >
		<div class="panel-heading">
			<div class='panel-title'>{{name}}</div>
		</div>
		<div class="panel-body" id={{name}}>
			{{widget}}
		</div>
		{%if url %}
		<div class="panel-footer">
			See <a href="{{url}}">{{name}} Plugin Page</a>
		</div>
		{% endif %}
	</div>
	{%endfor%}
</div>
{%endblock%}

{% block tail %}
{{super()}}
<script>

function update_widgets(){
    $.getJSON('/widgets', {}, function(data)
        {
        //update time here:
        $.each(data.widgets, function(key, widget)
            {
                name = "#"+widget[0]
                content = widget[1]
                $(name).html(content)                
            }
        )
        }
    )
}

// config tooltips
$('#sched_jobs').tooltip()

// use ajax to get page updates
var auto_update = setInterval(
function ()
    {
        if(!( $.idleTimer("isIdle"))){
            update_widgets();
        } 
// every 60secs
    }
, 60000); 

//listen for page activity and reload widgets

$( document ).on( "active.idleTimer", function(event, elem, obj, triggerevent){
        update_widgets();
});


</script>
{% endblock %}
