{% extends "admin/base.html" %}

{% block head_meta %}
    {{super()}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block head_css %}
    {{super()}}<link href="{{ url_for('static', filename='css/ais.css') }}" rel="stylesheet">
{% endblock %}

{% block brand %}
	  <div class="navbar-brand">{{ admin_view.admin.hostname }}</div>
{% endblock %}

{% block access_control %}
        <div id="device-time" class="pull-right"></div>
{% endblock%}

{% block tail %}
{{super()}}
<script src="/static/js/idle-timer.min.js"></script>
<script>

$(function() {
    $(document).idleTimer(30000); 

});

function update_time(){
    $.getJSON('/time', {}, function(data)
    {
        //update time here:
        $("#device-time").text(data.time);
        
    } )
}

$(function(){
    update_time();
});

// use ajax to get page updates
var time_refresh = setInterval(
function ()
{
    if(!( $.idleTimer("isIdle"))){
        update_time();
    }
// every  60secs
}, 60000); 

//listen for page activity and reload time

$( document ).on( "active.idleTimer", function(event, elem, obj, triggerevent){
        update_time();
});

</script>
{% endblock %}